HipOverflow/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63599/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63599/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63599/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPost" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddReply_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReply" />
  </wsdl:message>
  <wsdl:message name="IService1_AddReply_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReplyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPost" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPostsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsByUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPostsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemovePost_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePost" />
  </wsdl:message>
  <wsdl:message name="IService1_RemovePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMod_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMod" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMod_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveMod_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMod" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveMod_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveModResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPost" message="tns:IService1_AddPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPostResponse" message="tns:IService1_AddPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReply">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddReply" message="tns:IService1_AddReply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddReplyResponse" message="tns:IService1_AddReply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPosts" message="tns:IService1_GetPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPostsResponse" message="tns:IService1_GetPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPost" message="tns:IService1_GetPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPostResponse" message="tns:IService1_GetPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPostsByUserId" message="tns:IService1_GetPostsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPostsByUserIdResponse" message="tns:IService1_GetPostsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemovePost" message="tns:IService1_RemovePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemovePostResponse" message="tns:IService1_RemovePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMod" message="tns:IService1_AddMod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddModResponse" message="tns:IService1_AddMod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveMod" message="tns:IService1_RemoveMod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveModResponse" message="tns:IService1_RemoveMod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCategory" message="tns:IService1_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCategoryResponse" message="tns:IService1_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveCategory" message="tns:IService1_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveCategoryResponse" message="tns:IService1_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeTitle" message="tns:IService1_ChangeTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeTitleResponse" message="tns:IService1_ChangeTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategories" message="tns:IService1_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoriesResponse" message="tns:IService1_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReply">
      <soap:operation soapAction="http://tempuri.org/IService1/AddReply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPostsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <soap:operation soapAction="http://tempuri.org/IService1/RemovePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMod">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMod">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveMod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63599/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>